.header__search {
    grid-column-start: 6;
    grid-column-end: 7;
}

.header__search-form-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5rem 2.6rem;
    background-color: var(--background-color);
    opacity: 0;
    z-index: 2;
    transition: all 0.2s;
}
.header__search-form-container.visible {
    visibility: visible;
    opacity: 0.9;
}

.header__search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__search-input {
    width: 100%;
    max-width: 48rem;
    font-size: 1.3rem;
    padding: 0.8rem 0.7rem;
    border: none;
    border-bottom: 1px solid var(--input-border-color);
    background-image: url(../assets/lens.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.4rem);
    background-position-y: center;
}

@media (min-width: 540px) {
    .header__search-form-container {
        padding-left: calc((100% - 540px) / 2);
        padding-right: calc((100% - 540px) / 2);
    }
}

@media (min-width: 1024px) {
    .header__search {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-left: 8rem;
    }

    .header__search-form-container {
        visibility: visible;
        opacity: 1;
        width: auto;
        height: auto;
        padding: 0;
        position: initial;
    }

    .header__search-input {
        width: 48rem;
    }
}
