.header__basket {
    height: fit-content;
    position: relative;
    padding: 1rem;
    grid-column-start: 7;
    grid-column-end: 8;
}

.header__basket-counter {
    position: absolute;
    bottom: 0.1rem;
    right: 0;
    font-size: 1.1rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 2.1rem;
    height: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-font-color);
}

.header__basket-text {
    display: none;
    font-weight: bold;
    font-size: 1.4rem;
}

@media (min-width: 1024px) {
    .header__basket-text {
        display: initial;
    }

    .header__basket {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
