/* reset */
@import "./reset.css";

/* variables */
@import "./variables.css";

/* header start */
@import "./logo.css";
@import "./header-search.css";
@import "./header-basket.css";
@import "./header-menu.css";

body {
    color: var(--font-color);
}

.header {
    display: flex;
    height: 6rem;
    padding: 1rem 1.6rem;
    align-items: center;
    justify-content: space-between;
}

/* header end */ ;
