/* reset */
@import "./reset.css";

/* variables */
@import "./variables.css";

/* utilities */
@import "./utilities.css";

/* header start */
@import "./logo.css";
@import "./header-search.css";
@import "./header-basket.css";
@import "./header-menu.css";

body {
    color: var(--font-color);
    font-family: "Lato", sans-serif;
}

.header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 4rem;
    justify-items: center;
    align-items: center;
    height: 6rem;
    padding: 1rem 1.6rem;
    border-bottom: 1px solid var(--border-color);
}

.header__button {
    padding: 1rem;
}
.header__icon {
    width: 2.1rem;
    height: 2.1rem;
}

@media (min-width: 540px) {
    .header {
        grid-template-columns: 5rem 5rem 1fr 1fr 1fr 5rem 5rem;
    }
}

@media (min-width: 1024px) {
    .header {
        height: auto;
        grid-template-columns:
            max(calc((100% - 124rem) / 2), 4rem) repeat(3, 1fr)
            max(calc((100% - 124rem) / 2), 4rem);
        grid-template-rows: 4rem 14.5rem 1.5rem;
        padding: 0;
        border-bottom: none;
    }
}

/* header end */ ;
