.logo {
    grid-column-start: 3;
    grid-column-end: 6;
    height: 100%;
}

@media (min-width: 1024px) {
    .logo {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: left;
        align-self: center;
        height: unset;
    }
}
