.text--primary {
    color: var(--primary-color);
}

.list-item {
    padding-bottom: 1.4rem;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.pb-2 {
    padding-bottom: 2rem;
}

.mr-n1 {
    margin-right: -1rem;
}

.show-on-large {
    display: none;
}

.fade-on-hover {
    transition: color 0.15s ease;
}
.fade-on-hover:hover {
    color: var(--hover-font-color);
}
.fade-on-hover.text--primary:hover {
    color: var(--hover-primary-color);
}

@media (min-width: 1024px) {
    .hide-on-large {
        display: none;
    }
    .show-on-large {
        display: initial;
    }

    .list-item {
        padding-bottom: 0;
    }
}
