:root {
    --border-color: #d7d7d7;
    --input-border-color: #191919;
    --font-color: #000000;
    --hover-font-color: #757575;
    --light-font-color: #ffffff;
    --primary-color: #ecc7d0;
    --hover-primary-color: #ea2260;
    --background-color: #ffffff;
}
